{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}

<div style="display: flex; justify-content: center; margin: 20%">
  <div class="btn-group" style="align-items: flex-end">
    <button type="button" class="btn btn-secondary">
      <a style="color: aliceblue" href="/math/get">math</a>
    </button>

    <button type="button" class="btn btn-secondary">
      <a style="color: aliceblue" href="/physics/get">physics</a>
    </button>

    <button type="button" class="btn btn-secondary">
      <a style="color: aliceblue" href="/compsci/get">compsci</a>
    </button>
  </div>
</div>

{% endblock %}
