{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}

<div style="display: flex; justify-content: center; margin: 20%">
  <div class="btn-group" style="align-items: flex-end">
    <button type="button" class="btn btn-secondary">
      <a style="color: aliceblue" href="{{mathURL}}">math</a>
    </button>

    <button type="button" class="btn btn-secondary">
      <a style="color: aliceblue" href="{{physicsURL}}">physics</a>
    </button>

    <button type="button" class="btn btn-secondary">
      <a style="color: aliceblue" href="{{compsciURL}}">compsci</a>
    </button>
  </div>
</div>

{% endblock %}
